@import "../abstract/mixins";
@import "../abstract/variables";

.service {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0 0;

    [heading] {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #1C1C21;

        [text] {
            text-transform: uppercase;

            span {
                font-size: 14px;
                color: #797C86;
                font-weight: 600;
            }

            h4 {
                color: #fff;
                font-size: 28px;
                font-weight: 600;
            }
        }

        [button] {
            [arrows] {
                display: none;
            }
        }

    }

    [main] {
        display: flex;
        flex-direction: column;
        gap: 30px;

        svg {
            width: 100%;
        }

        [largePhone] {
            display: none;
        }

        [content] {
            display: flex;
            flex-direction: column;
            gap: 30px;

            [first] {
                display: flex;
                flex-direction: column;
                gap: 12px;
                // border: 1px solid red;

                div {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    span {
                        font-size: 28px;
                        color: #797C86;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }

                p {
                    font-size: 14px;
                    color: #797C86;
                    font-weight: 400;
                }
            }

            [second] {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #CACACE;
                }

                [flex] {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        padding: 14px;
                        border-radius: 8px;
                        border: 1px solid #1C1C21;

                        p {
                            text-transform: uppercase;
                            color: #AFB0B6;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        [content]~[arrows] {
            width: max-content;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 12px;
            border: 1px solid #1C1C21;
            background-color: #070708;
            border-radius: 100px;
            padding: 8px;
        }
    }
}

@include media-largePhone {
    .service {
        [main] {
            [default] {
                display: none;
            }

            [largePhone] {
                display: block;
            }
        }
    }
}